<div class="container">
  <h1>Terms</h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget arcu nec sapien sollicitudin accumsan. Phasellus odio arcu, semper in urna nec, rhoncus lacinia risus.
    Morbi ac eleifend velit. Phasellus euismod augue justo, a porta magna vehicula eget. Integer vehicula hendrerit felis, ut aliquam risus eleifend accumsan.
    Vestibulum aliquam sem vel bibendum blandit. Duis condimentum posuere felis, sit amet tristique mauris tristique ut.
  </p>
  <p>
  Cras fermentum nibh a nisl scelerisque, sit amet rutrum metus auctor. Maecenas facilisis felis ut leo semper pretium. S
  uspendisse vehicula sed massa eget lacinia. Sed mattis ut odio eget dictum. Duis et ante justo.
  Sed efficitur scelerisque orci vitae imperdiet. Maecenas fringilla lacus nisl, ac rhoncus metus elementum iaculis. Nunc sit amet rhoncus nunc, non eleifend nisl.
  Vivamus et erat cursus, auctor neque eu, tempus purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc a elit in mi cursus ornare.
  Sed eu pulvinar ante. Vestibulum erat elit, semper quis odio sed, facilisis volutpat ipsum. Fusce imperdiet a lacus ac euismod. Nunc eleifend neque ut metus elementum, mollis volutpat erat convallis. Aenean convallis quam in mollis rutrum.
  </p>
  <p>
  Morbi consectetur mauris justo, quis lacinia ex iaculis id. Quisque blandit sem non nunc ultricies tempus. Vestibulum faucibus velit in lectus consectetur, vitae blandit purus interdum. Nullam enim erat, laoreet et dignissim sit amet, iaculis id ex. Mauris ac ultricies nibh. Pellentesque eget mauris vitae massa posuere finibus vitae et lorem. Nunc et urna sit amet urna vestibulum dapibus. In scelerisque feugiat elit nec semper. Aenean pharetra elit tincidunt enim elementum, eu sodales mauris porta. Nam eu tincidunt enim, quis pellentesque enim. Duis velit risus, mattis a tincidunt ac, porttitor in mauris.
  </p>
  <p>
  Aenean efficitur suscipit imperdiet. In hac habitasse platea dictumst. Aliquam mattis libero metus, et efficitur neque luctus at. Vivamus sit amet rhoncus elit, sit amet congue ante. Duis venenatis est eget odio tempor vehicula. Sed nec tortor sapien. Morbi sed magna dignissim tellus efficitur ultricies. Sed vitae auctor leo. Pellentesque ut libero tempor, ornare urna sit amet, sollicitudin tellus. Proin eget leo interdum, interdum urna et, ornare lacus. Ut arcu velit, pulvinar id metus id, viverra commodo quam.
  </p>
  <p>
  Integer pharetra ut metus vitae tempor. Curabitur tempor id eros in tempus. Etiam elementum sollicitudin scelerisque. Cras arcu purus, aliquam eu pharetra nec, ultrices vel dui. Integer vitae sollicitudin turpis. Phasellus lobortis risus sed augue aliquet porta. Pellentesque elit leo, laoreet ut lacus non, egestas maximus est.
  </p>
</div>

